*, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto-Regular;
}

.skin-blue .main-header .logo {
  background-color: #434C5E;
}

.skin-blue .main-header .logo:hover {
  background-color: #2E344033;
}

.skin-blue .main-header .navbar {
  background-color: #4C566A;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #2E344033;
}

.box-primary .box-header {
  background: #5E81AC !important;
  background-color: #5E81AC !important;
}

.box-primary {
  border: 1px solid #5E81AC !important;
}

#analyse, #forecast, #load {
  background-color: #5E81AC;
  color: white;
}

#analyse:hover, #forecast:hover, #load:hover {
  background-color: #81A1C1;
  color: white;
}
